/* NAME:ALI 
DATE: 03.25.22
NOTE: THIS CSS IS FOR THE HOME SCREEN THAT INCLUDES THE CAT CRIMINALS AND THEIR INFORMATION.
*/

.gangBlock {
    font-size: 30px;
    color: pink;
    border: dotted 15px lightblue;
    text-align: center;
    display: inline;
}

body {
    background: url(https://i.kym-cdn.com/entries/icons/mobile/000/034/772/Untitled-1.jpg) no-repeat center fixed;
    background-size: cover;
    text-align: center;
}


/* THIS IS OG BACKGROUND. NOT IN USE, PLEASE DO NOT USE. ALREADY HAVE POG BACKGROUND
 
body/ {
    background-color: lavender;
    text-align: center;
}
*/

.spacing {
    margin-top: 35px;
    display: inline-block;
    width: 100%;
}

.spacing-2 {
    margin-top: 50px;
    display: inline-block;
    width: 100%;
}

#section-1,
#section-2 {
    text-align: center;
    color: white;
}

.fireworks {
    position: absolute;
    z-index: -99;
    left: 15%;
    visibility: hidden;
}

.cat-list {
    text-align: center;
    color: white;
}

.cat-list>p {
    text-align: left;
}

.default-img-prop {
    max-width: 145px;
}

.cat-image {
    height: 189px;
    display: inline-block;
}